*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.container{
    /* border: 2px solid black; */
    height: 50vh;
    width: 500px;
    gap: 2px;
    display: flex;
    justify-content: center;
    padding: 10px 10px 10px 10px;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}
.div-inside{
    border: 2px solid black;
    width: 250px;
}

#input-src{
    height: 100px;
    width: 200px;
    background-color: rgb(209, 202, 202);
    color: black;
}
.checked {
    color: orange;
  }