<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="profileImage">
        <input type="text" name="profileImage">
        <button type=" submit">Upload</button>
        <img src="https://res.cloudinary.com/dy6yb2nyo/image/upload/v1749273464/bdirfdfupnip9l4wmegm.jpg" alt="">
        <!-- <a href="http://res.cloudinary.com/dy6yb2nyo/image/upload/v1749273650/dc1ozqbz9d0f6iheliss.pdf" target="_blank">
            Open PDF
        </a> -->
    </form>
</body>
</html>